@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
//https://fonts.google.com/specimen/Plus+Jakarta+Sans?category=Sans+Serif&preview.text=01&preview.text_type=custom
//https://fonts.google.com/specimen/Gantari?category=Sans+Serif&preview.text=DEVELOPER%20WHAT%20IS%20HAPPENING%20THATS%20ME%20SIMON!&preview.text_type=custom

@leftNavWidth: 7rem;

@fontColor: #949494;
@indicator: #747474;
//@gold: #A2886D;
@gold: hsl(31, 35%, 53%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    //filter: sepia(0.20), brightness(1.5);
}

html, body {
    height: 100%;
    width: 100%;

    font-family: 'Gantari', Arial, sans-serif;

    overflow-x: hidden;
}